/* COLORES */

:root{
    --morado1: #0f0c29;
    --morado2: #302b63;
    --morado3: #24243e;
    --morado4: #8A2BE2;
    --moradoclaro: #9370DB;
    --background: #E6E6FA;
    --blanco: #fff;
    --sombra: #00000033;

}


/* RESETEAR ESTILOS DE LA WEB POR DEFECTO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #E6E6FA;



}

/* INICIO HEADER */

header{
    width: 100%;
    height: 600px;
    background: #0f0c29;
    background: linear-gradient(to right, hsl(240, 27%, 19%, 0.8), hsl(245, 39%, 28%, 0.8), hsl(246, 55%, 10%, 0.8)), url(../img/headear1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

header>nav{
    text-align: right;
    padding: 25px;
}

header>nav>a{
    color: white;
    text-decoration: none;
    padding: 0 1.5em; /* SEPARACIÓN HORIZONTAL ENTRE LAS ETIQUETAS a */
    font-size: 15px;
}

header>nav>a:hover{
    color: #fff;
    border-radius: 10px;
    background: #9370DB;
    padding: 8px;
    box-shadow: 0px 0px 5px black;
}

.titulo-header{
    text-align: center;
    margin: 100px auto;
}

.titulo-header h1{
    color: white;
    font-size: 50px;
}

.titulo-header h2{
    color: white;
    font-size: 30px;
    font-weight: 300;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

/* FIN HEADER */

.contenedor{
    width: 95%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    
}

.subtitulo{
    font-size: 40px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(180deg, #41295a 100%, #2F0743 0%);
    padding: 10px;
    margin-bottom: 20px;
}

.span{
    color: blue;
}

.subtitulo-noticia{
    color: #E6E6FA;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

.contenedor-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tarjeta-novedades{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, #41295a 100%, #2F0743 0%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 10px var(--sombra) ;
}

.tarjeta-texto{
    text-align: left;
    width: 90%;
    margin: auto;
}

.tarjeta-titulo{
    color: #E6E6FA;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.tarjeta-contenido{
    color: #D8BFD8;
    margin-bottom: 20px;
}

.tarjeta-boton{
    display: block;
    background: linear-gradient(to right, #aa076b, #61045f);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: #e6e6fa;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.tarjeta-boton:hover{
    background: linear-gradient(to right, #f857a6, #ff5858);
    color: 	white;
}

.background{
    width: 65%;
    height: 300px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.background-txt{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: var(--background);
}

.background-titulo{
    font-size: 24px;
    margin-bottom: 4px;
}

.boletin{
    text-align: center;
    
}

.boletin h2{
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 2px black;
    font-weight: 700;
}

.boletin p{
    color: white;
    margin: 10px 0;
    font-size: 25px;
    font-weight: 400;
}

.contenedor_galeria{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.galeria{
    width: 30%;
    padding: 20px 5px;
    overflow: hidden;
    background: linear-gradient(180deg, #41295a 100%, #2F0743 0%);
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    box-shadow: 0 0 5px black;
}

.galeria_img{
    width: 95%;
    height: 200px;
    border-radius: 10px;
}

.galeria_txt{
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.galeria_subt{
    color: white;
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 18px;
}

.galeria_titulo{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.galeria_cont{
    color: #fff;
    margin-bottom: 16px;
}

.galeria_mas{
    display: block;
    background: linear-gradient(to right, #aa076b, #61045f);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.galeria_mas:hover{
    background: linear-gradient(to right, #f857a6, #ff5858);
}


.boletin h2{
    color: #000;
}

.boletin p{
    color: #000000;
}
.email{
    width: 70%;
    height: auto;
    font-family: inherit;
    position: relative;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.email-input{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 8px;
    border: 0px solid black;
}

.email-submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(to right, #aa076b, #61045f);
    color: white;
    padding: 0 15px;
    font-weight: 600;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.socialmedia{
    text-align: center;
    margin: 20px 0;
}

.socialmedia p{
    font-size: 20px;
}

.socialmedia i{
    font-size: 40px;
    margin: 5px 10px;
    color: #61045f;
}

.derechos{
    text-align: center;
    margin-bottom: 20px;
}

.copyright{
    font-weight: 600;
}

.derechos a{
    text-decoration: none;
    color: #000;
}

.derechos a:hover{
    text-decoration: underline;
}

.contacto{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

.item_contacto{
    width: 33%;
    padding: 60px 0;
    text-align: center;
    background: #61045f;
}

.item_contacto--color{
    background: #aa076b;
}

.contact__icon{
    font-size: 30px;
    color: #fff;
    line-height: 20px;
    margin-right: 4px;
    margin: 0 4px 10px 0;
}

.contacto_titulo{
    font-size: 16px;
    line-height: 20px;
}

/* RESPONSIVE */

@media screen and (max-width:900px){
    header nav{
        text-align: center;
    }

    .titulo-header h1{
        font-size: 40px;
    }

    .titulo-header h2{
        font-size: 30px;
    }

    .contenedor{
        width: 90%;
        height: auto;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        padding: 20px 0;
    }

    .tarjeta-contenido{
        font-size: 15px;
    }

    .tarjeta-titulo{
        font-size: 20px;
    }

    .galeria_titulo{
        font-size: 25px;
        text-align: left;
        font-weight: bold;
    }

    .galeria_subt{
        font-size: 20px;
        text-align: center;
        font-weight: 500;
    }

    .galeria_txt{
        font-size: 15px;
        font-weight: 300;
    }

    .galeria-seccion .galeria{
        width: 45%;
    }

    .galeria{
        width: 42%;
    }

    .boletin h2{
        font-size: 30px;
    }

    .boletin p{
        font-size: 20px;
    }

    .email{
        width: 90%;
    }
}

@media screen and (max-width: 700px){
    
    .nav-sup{
        font-size: 5px;
    }

    .nav-sup a{
        margin: 0 -10px;
    }

    .titulo-header h1{
        font-size: 40px;
    }

    .titulo-header h2{
        font-size: 25px;
    }

    .background-titulo{
        font-size: 20px;
    }

    .background-contenido{
        font-size: 13px;
        font-weight: 300;
    }

    .tarjeta-contenido{
        text-align: center;
    }

    .galeria_titulo{
        text-align: center;
    }

    .galeria_cont{
        text-align: center;
        margin: 20px -10px;
    }

    .email{
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    header nav{
        padding: 25px;
    }

    header>nav>a{
        padding: 0 5px 0 0;
        font-size: 12px;
    }

    .background{
        width: 95%;
        margin: 10px auto;
    }

    .tarjeta-novedades{
        width: 95%;
        margin: 10px auto;
    }

    .galeria{
        width: 95%;
    }

    .email{
        width: 100%;
        display: block;
    }

    .email-submit{
        font-size: 10px;
    }

    .contacto h3{
        font-size: 13px;
    }
}

